; agency_platform_distribution make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; epiceditor
libraries[epiceditor][directory_name] = "epiceditor"
libraries[epiceditor][type] = "library"
libraries[epiceditor][destination] = "libraries"
libraries[epiceditor][download][type] = "get"
libraries[epiceditor][download][url] = "" ; TODO add download URI

; whizzywig
libraries[whizzywig][directory_name] = "whizzywig"
libraries[whizzywig][type] = "library"
libraries[whizzywig][destination] = "libraries"
libraries[whizzywig][download][type] = "get"
libraries[whizzywig][download][url] = "" ; TODO add download URI

; wymeditor
libraries[wymeditor][directory_name] = "wymeditor"
libraries[wymeditor][type] = "library"
libraries[wymeditor][destination] = "libraries"
libraries[wymeditor][download][type] = "get"
libraries[wymeditor][download][url] = "" ; TODO add download URI

; jwysiwyg
libraries[jwysiwyg][directory_name] = "jwysiwyg"
libraries[jwysiwyg][type] = "library"
libraries[jwysiwyg][destination] = "libraries"
libraries[jwysiwyg][download][type] = "get"
libraries[jwysiwyg][download][url] = "" ; TODO add download URI

; nicedit
libraries[nicedit][directory_name] = "nicedit"
libraries[nicedit][type] = "library"
libraries[nicedit][destination] = "libraries"
libraries[nicedit][download][type] = "get"
libraries[nicedit][download][url] = "" ; TODO add download URI

; jquery.cycle
libraries[jquery.cycle][directory_name] = "jquery.cycle"
libraries[jquery.cycle][type] = "library"
libraries[jquery.cycle][destination] = "libraries"
libraries[jquery.cycle][download][type] = "get"
libraries[jquery.cycle][download][url] = "" ; TODO add download URI

; markitup
libraries[markitup][directory_name] = "markitup"
libraries[markitup][type] = "library"
libraries[markitup][destination] = "libraries"
libraries[markitup][download][type] = "get"
libraries[markitup][download][url] = "" ; TODO add download URI

; tinymce
libraries[tinymce][directory_name] = "tinymce"
libraries[tinymce][type] = "library"
libraries[tinymce][destination] = "libraries"
libraries[tinymce][download][type] = "get"
libraries[tinymce][download][url] = "" ; TODO add download URI

; yui
libraries[yui][directory_name] = "yui"
libraries[yui][type] = "library"
libraries[yui][destination] = "libraries"
libraries[yui][download][type] = "get"
libraries[yui][download][url] = "" ; TODO add download URI

; openwysiwyg
libraries[openwysiwyg][directory_name] = "openwysiwyg"
libraries[openwysiwyg][type] = "library"
libraries[openwysiwyg][destination] = "libraries"
libraries[openwysiwyg][download][type] = "get"
libraries[openwysiwyg][download][url] = "" ; TODO add download URI

